# Dataframe Basics and Json

Lets create Json data first.
Java Script Object Notation
Create a file with extension "i am using emp.json"
Copy below data in file

{"name":"Deepak"}
{"name":"Amit"}
{"name":"Rudra", "age":20}
{"name":"Parul", "age":21}
{"name":"Sikha", "age": 20,"salary":200}

In [1]:
# Create connection
import pyspark
from pyspark.sql  import SparkSession
spark = SparkSession.builder.appName('Algae').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x00000182C703B808>

In [9]:
# read Josn file
df = spark.read.json('C:\\sparkinstall\\spark-2.2.0-bin-hadoop2.7\\bin\\DATASET_FILES\\emp1.json')
print(df)

DataFrame[age: double, name: string, salary: bigint]

In [3]:
#Print data from file
df.show()
#{age:NULL , Name: Deepak, salary:NULL}
#{ Name: Deepak}

+----+------+------+
| age|  name|salary|
+----+------+------+
|null|Deepak|  null|
|null|  Amit|  null|
|  20| Rudra|  null|
|  21| Parul|  null|
|  20| Sikha|   200|
+----+------+------+

In [38]:
df.collect()

[Row(age=None, name='Deepak', salary=None),
 Row(age=None, name='Amit', salary=None),
 Row(age=20, name='Rudra', salary=None),
 Row(age=21, name='Parul', salary=None),
 Row(age=20, name='Sikha', salary=200)]

In [19]:
df.head(2)

[Row(age=None, name='Deepak', salary=None),
 Row(age=None, name='Amit', salary=None)]

In [20]:
df.select(['age','name'])

DataFrame[age: bigint, name: string]

In [22]:
df.select(['age','name']).show()

+----+------+
| age|  name|
+----+------+
|null|Deepak|
|null|  Amit|
|  20| Rudra|
|  21| Parul|
|  20| Sikha|
+----+------+

In [33]:
df.select('*').show()

+----+------+------+
| age|  name|salary|
+----+------+------+
|null|Deepak|  null|
|null|  Amit|  null|
|  20| Rudra|  null|
|  21| Parul|  null|
|  20| Sikha|   200|
+----+------+------+

### Adding a new column  for projection only - withColumn

In [25]:
# Adding a new column  for projection only
df.withColumn('age1',df['age']).show()

+----+------+------+----+
| age|  name|salary|age1|
+----+------+------+----+
|null|Deepak|  null|null|
|null|  Amit|  null|null|
|  20| Rudra|  null|  20|
|  21| Parul|  null|  21|
|  20| Sikha|   200|  20|
+----+------+------+----+

In [27]:
df.withColumn('age+',df['age']+1).show()

+----+------+------+----+
| age|  name|salary|age+|
+----+------+------+----+
|null|Deepak|  null|null|
|null|  Amit|  null|null|
|  20| Rudra|  null|  21|
|  21| Parul|  null|  22|
|  20| Sikha|   200|  21|
+----+------+------+----+

In [28]:
df.withColumn('age*',df['age']*2).show()

+----+------+------+----+
| age|  name|salary|age*|
+----+------+------+----+
|null|Deepak|  null|null|
|null|  Amit|  null|null|
|  20| Rudra|  null|  40|
|  21| Parul|  null|  42|
|  20| Sikha|   200|  40|
+----+------+------+----+

In [29]:
df.withColumn('divide_age',df['age']/2).show()

+----+------+------+----------+
| age|  name|salary|divide_age|
+----+------+------+----------+
|null|Deepak|  null|      null|
|null|  Amit|  null|      null|
|  20| Rudra|  null|      10.0|
|  21| Parul|  null|      10.5|
|  20| Sikha|   200|      10.0|
+----+------+------+----------+

In [30]:
# Dataframe
df.withColumn('divide_age',df['age']/2)

DataFrame[age: bigint, name: string, salary: bigint, divide_age: double]

### Reading Structure of Data frame

In [9]:
# print Schema\structure of dataframe along nullability
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [12]:
# print list of columns
df.columns

['age', 'name', 'salary']

In [13]:
# Describe the structure of dataframe
df.describe()

DataFrame[summary: string, age: string, name: string, salary: string]

In [14]:
df['age']

Column<b'age'>

In [15]:
type(df['age'])

pyspark.sql.column.Column

In [16]:
df.select('age')

DataFrame[age: bigint]

In [17]:
df.select('age').show()

+----+
| age|
+----+
|null|
|null|
|  20|
|  21|
|  20|
+----+

In [18]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame